<launch>
  <!-- Team 1 visualization launch file -->
  <arg name="rviz_cfg" default="$(find race)/src/wall_following.rviz"/>

  <!-- Start your control and distance-finder nodes -->
  <node pkg="race" type="control.py" name="control" output="screen">
    <param name="kp" value="5.0"/>
    <param name="kd" value="3.0"/>
    <param name="ki" value="0.0"/>
    <param name="vel_input" value="40"/>
  </node>

  <node pkg="race" type="dist_finder.py" name="dist_finder" output="screen" />

  <!-- Visualization nodes -->
  <node pkg="race" type="viz_steering.py" name="viz_steering" output="screen">
    <param name="cmd_topic" value="/car_1/offboard/command"/>
    <param name="frame_id" value="base_link"/>
    <param name="steering_cmd_in_degrees" value="true"/>
  </node>

  <node pkg="race" type="footprint_publisher.py" name="footprint_pub" output="screen">
    <param name="frame_id" value="base_link"/>
    <param name="length" value="0.52"/>
    <param name="width" value="0.30"/>
  </node>

  <!-- RViz loads your layout -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)"/>
</launch>
